<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Typosquotter Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <style>
      #app {
        height: 100%;
        width: 100%;
        min-height: 100vh;
        position: relative;
      }

      .hero .field {
        max-width: 600px;
      }
      .hero input:focus {
        outline: none;
        border-color: transparent;
        box-shadow: none;
      }

      .result-container {
        margin-bottom: 200px;
      }
      .result-container .level {
        margin-top: 3rem;
      }

      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <section class="hero is-dark">
        <div class="hero-body">
          <div class="container">
            <p class="title">
              Typosquotter
            </p>
            <p class="subtitle">
              generator of typosquotted domain names
            </p>

            <div class="field has-addons">
              <div class="control is-expanded">
                <input class="input" type="text" placeholder="Enter a domain name" v-model="inputText" @keyup.enter="run">
              </div>
              <div class="control">
                <a class="button is-primary is-uppercase" @click="run">
                  Generate
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="container result-container" v-show="result">
        <nav class="level">
          <div class="level-item has-text-centered" v-for="(values, technique) in result" :key="technique">
            <div>
              <p class="heading is-uppercase">{{technique}}</p>
              <p class="title" v-lazy-counter="{value: values.length, delay: 10}"></p>
            </div>
          </div>
        </nav>

        <div class="content">
          <section class="section" v-for="(values, technique) in result" :key="technique">
            <h3 class="title is-capitalized">{{technique}}</h3>
            <div class="list is-hoverable">
              <a class="list-item" :href="'http://' + value" target="_blank" v-for="(value, index) in values" :key="index">
                {{value}}
              </a>
            </div>
          </section>
        </div>
      </div>

      <footer class="footer">
        <div class="container content">
          <p>
            <strong>typosquotter</strong> is made by <a href="https://b4dnewz.github.io/">Filippo Conti</a>.
            The source code is <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          </p>
        </div>
      </footer>
    </div>
  </body>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/typosquotter/dist/main.js"></script>
  <script type="text/javascript">
    new Vue({
      el: '#app',
      data: function () {
        return {
          inputText: '',
          result: null
        }
      },
      methods: {
        run: function() {
          const input = this.inputText
          const res = typosquotter(input)
          this.result = res;
        }
      },
      directives: {
        lazyCounter: function (el, binding) {
          if (!binding.value) {
            return;
          }

          const value = binding.value.value;
          const delay = binding.value.delay || 25;

          if (binding.oldValue && binding.oldValue.value === value) {
            return;
          }

          let count = 0;
          const promise = setInterval(function () {
            if (count >= value) {
              clearInterval(promise);
              return;
            }

            el.innerText = count;
            count++;
          }, delay);
        }
      }
    })
  </script>
</html>
